:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-bg-color: #2f303a;
  --grey-color: #f5f4fa;
  --white-color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
}

/* header */

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-text-color);
}

.logo span {
  color: var(--accent-color);
}

.menu {
  list-style: none;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
}

.menu-link.studio,
.menu-link.portfolio {
  color: var(--accent-color);
}

.menu-link:focus,
.menu-link:hover {
  color: var(--accent-color);
}

.contacts {
  list-style: none;
}

.contacts-link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.contacts-link:hover {
  color: var(--accent-color);
}

/* main */

.offer {
  background-color: var(--main-bg-color);
}

.offer-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.offer-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  font-family: inherit;
  background-color: var(--accent-color);
  cursor: pointer;
}

.offer-btn:hover {
  background-color: #188ce8;
}

/* benefits */

.benefits-list {
  list-style: none;
}

.benefits-head {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* about */

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.about-list {
  list-style: none;
}

/* team */
.team {
  background-color: var(--grey-color);
}

.team-list {
  list-style: none;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team-position {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* portfolio page */

.filters-list {
  list-style: none;
}

.filters-item {
  border-radius: 4px;
}

.filters-item:last-child {
  margin-right: 0;
}

.filters-grid {
  list-style: none;
}

.filters-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  font-family: inherit;
  background-color: var(--grey-color);
  cursor: pointer;
}

.filters-btn:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.filters-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.06em;
}

.filters-type {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* footer */

.footer {
  background-color: var(--main-bg-color);
}

.footer .logo {
  color: var(--white-color);
}

.footer-address p,
.footer-address a {
  font-style: normal;
}
.footer-address p {
  font-size: 14px;
  line-height: 1.2;
  color: var(--white-color);
  letter-spacing: 0.03em;
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-contacts-link:hover {
  color: var(--white-color);
}
